---
// Página o componente que usa Layout y Badge
import Badge from "../components/Badge.astro";
import Estudios from "../components/Estudios.astro";
import Experiencie from "../components/Experiencie.astro";
import BriefCaseIcon from "../components/icons/Briefcase.astro";
import CodeIcon from "../components/icons/Code.astro";
import EmailIcon from "../components/icons/Email.astro";
import GitHubIcon from "../components/icons/GitHub.astro";
import LinkedInIcon from "../components/icons/LinkedIn.astro";
import StudiesIcon from "../components/icons/Studies.astro";
import Projects from "../components/Projects.astro";
import SectionContainer from "../components/SectionContainer.astro";
import SocialPill from "../components/SocialPill.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout 
  title="Portfolio de Gabriel Martinez, Desarrollador y Programador Full Stack"
  description="Portfolio de Gabriel Martinez, Desarrollador y Programador Full Stack. Con más de 1,5 años de experiencia en el desarrollo de aplicaciones web y móviles."
>
  <main class="px-4">
    <SectionContainer class="py-4 pb-24">
        <img 
          class="rounded-full w-35 h-35 mb-15"
          src="https://media.licdn.com/dms/image/v2/D4D35AQHuJOhi4i6l4Q/profile-framedphoto-shrink_100_100/B4DZjc55RwHsAk-/0/1756052821461?e=1763031600&v=beta&t=7hOZyd4mBKtwbxRLNIN2jNVXIO5ndVpjC5iAL7Z9j3g"
          alt="Foto Gabriel" 
        />
      <h1 
        class="text-white text-2xl lg:text-5xl md:text-4xl font-bold flex flex-row items-center gap-x-4 pb-6 lg:pb-5">
        Hola! soy Gabriel 
        <a
          href="https://www.linkedin.com/in/gabriel-vicente-mart%C3%ADnez-mart%C3%AD-7a3849251/"
          target="_blank"
          rel="noopener"
          class="flex justify-center items-center"
        >
          <Badge>Disponible para trabajar</Badge>
        </a>
      </h1>
      <span class="text-xl opacity-80">
        <span>+1,5 Años de experiencia. </span>
        <span class="text-purple-400">Desarrollador Full Stack.</span>
        <span class="text-green-300">De Mallorca
          <img
            src="https://flagcdn.com/w40/es.png"
            alt="Bandera de España"
            class="inline-block w-5 h-4 ml-1 rounded-sm align-middle"
          />
        </span>
      </span>
      <nav class="flex gap-x-2 mt-4 flex-wrap">
        <SocialPill href="https://www.linkedin.com/in/gabriel-vicente-mart%C3%ADnez-mart%C3%AD-7a3849251/">
          <LinkedInIcon class="w-6 h-6" />
          <span class="text-white">LinkedIn</span>
        </SocialPill>
        <SocialPill href="https://github.com/Adhett">
          <GitHubIcon class="w-6 h-6" />
          <span class="text-white">GitHub</span>
        </SocialPill>
        <SocialPill href="mailto:adheimpact@gmail.com">
          <EmailIcon class="w-6 h-6" />
          <span class="text-white">Adheimpact@gmail.com</span>
        </SocialPill>
      </nav>
    </SectionContainer>

    <SectionContainer id="experiencia">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3">
        <BriefCaseIcon class ="size-7"></BriefCaseIcon>
        Experiencia laboral
      </h2>
      <Experiencie />

    </SectionContainer>
        <SectionContainer id="estudios">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3">
        <StudiesIcon class ="size-7"></StudiesIcon>
        Estudios
      </h2>
      <Estudios/>
    </SectionContainer>

    <SectionContainer id="proyectos">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3">
        <CodeIcon class ="size-7"></CodeIcon>
        Proyectos
      </h2>
      <Projects/>
    </SectionContainer>

    <footer></footer>
    
  </main>
</Layout>
