---
import ExperiencieItem from '../components/ExperiencieItem.astro';

const EXPERIENCIE = [
  {
    title: "Programador Full Stack",
    company: "EMOVEERE CONSULTING S.L",
    description: [
      "Desarrollador del proyecto Back-Travel, en el que desarrollamos un back office para agencias de viajes. ",
      "Creé tanto el back como el front para la creación de Expedientes, Reservas, Clientes Empresa y Clientes Persona. ",
      "Incluye módulos de Oficinas, Proveedores, Prestatarios y Servicios asociados al expediente. ",
      "Implementación de la integración con los Endpoints de Business Central. ",
      "Todo el desarrollo de las mismas en BBDD, creando funciones para la validación de Emails, Teléfonos, NIF y NIE. ",
      "Desarrollé triggers para la funcionalidad en cadena de los módulos. "
    ],
    date: "Julio 2024 -> Julio 2025",
    link: "#",
    linkText: "Learn more",
  },
];
---

<ol class="relative border-s border-gray-200 ml-3">
  {EXPERIENCIE.map((experiencie) => (
    <li class="mb-10">
      <ExperiencieItem {...experiencie} />
    </li>
  ))}
</ol>
